.App {
  text-align: center;
}

.App-root {
  color: #7c8993;
  font-family: "M PLUS Rounded 1c";
}

.App-root a {
  color: #afb1b3;
  text-decoration: none;
}

.App-pc-menu {
  position: absolute;
  top: 30px;  
  right: 10px;
  padding-top: 10px;
  margin-right: 20px;
  line-height: 0.3em;
  text-align: center;
}


/* PC画面でのMenu */
.App-pc-menu p {
  color: #a0a0a086;
}

.App-phone-menu {
  display: none;
}

/* スマホ画面でのMenu */
@media screen and (max-width: 768px){
  .App-pc-menu {
    display: none;
  }
  .App-phone-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .App-header {
    /*background-color: rgba(219, 189, 204, 0.20);*/
  }
}

.App-menu-list {
  color: #7c8993;
  font-family: "M PLUS Rounded 1c";
  font-size: 1.2em;
  width: 200px;
  padding: 20px;
  margin-top: 20px;
}

.App-menu-list a {
  color: #7c8993;
  text-decoration: none;
}

.App-menu-list-item {
  padding: 5px;
  padding-bottom: 15px;
  word-wrap: break-word;
}

.App-menu-side {
  color: #7c8993;
}

.App-menu-side a {
  color: #7c8993;
  text-decoration: none;
}

.App-menu-side-item {
  display: inline-block;
  margin-left: 15px;
  margin-right: 20px;
  max-width: 20vw;
  text-align: center;
  vertical-align: middle;
}

.App-title {
  color: #7f3762;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  margin-top: 10px;
}
.App-title a {
  color: #7f3762;
}

.App-title h1 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  transform: translateX(20px);
}
.App-title .title-beta {
  display: inline-block;
  font-size: 0.8em;
  transform: translateX(20px);
}

.App-title-logo {
  display: inline-block;
  vertical-align: text-bottom;
  transform: translateX(20px);
  width: 50px;
}

@media screen and (max-width: 768px){
  .App-title {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0;
  } 
  .App-title h1 {
    margin: 0;
  }
  .App-title-logo {
    padding-top: 5px;
    width: 35px;
  }
}

.App-view {
  min-height: calc(80vh - 20px);
}

.App-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px #7c8993;
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 100%;
  position: static;
  bottom: 0;
}

.App-footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.copyright{
  size: 0.65em;
  text-align: center;
  line-height: 0.8em;
}
.copyright a {
  color: #7c8993;
}