
.image-input{
  display: none;
}

.add-stock-submit-button {
  margin-top: 10px;
}

.add-stock-root {
  width: 90%;
  margin: auto;
}

.stock-form-category-select {
  width: 80%;
}
.stock-form-category-select-button {
  width: 20%;
}
.stock-form-category-add-text {
  width: 60%;
}
.stock-form-category-add-button {
  width: 20%;
}
.stock-form-text {
  width: 80%;
}

.stock-form-phone-view {
  display: none;
}

@media screen and (max-width: 768px){
  .stock-form-phone-view {
    font-size: small;
    color: #7c8993;
    display: inline-block;
    width: 20%;
  }
  .stock-form-phone-view-item {
    text-align: center;
    line-height: 1.5em;
  }
}

.stock-form-image-show{
  height: 50px;
  padding: 10px;
  vertical-align: middle;
}

.category-setting-error-message {
  display: block;
  color: #7c8993;
  font-size: 0.8em;
}

.category-setting-text-field .category-setting-save-button {
  color: #7c8993;
  margin-left: 6px;
  padding-left: 6px;
  padding-right: 6px;
  vertical-align: top;
  text-transform: none;
}

.category-setting-text-field {

}