
.image-input{
  display: none;
}

.stock-form-category-select {
  width: 80%;
}
.stock-form-category-select-button {
  width: 20%;
}
.stock-form-category-add-text {
  width: 60%;
}
.stock-form-category-add-button {
  width: 20%;
}
.stock-form-text {
  width: 80%;
}

.stock-form-image-show{
  height: 50px;
  padding: 10px;
  vertical-align: middle;
}