.App {
  text-align: center;
}

.App-root {
  color: #7c8993;
  font-family: "M PLUS Rounded 1c";
}

.App-root a {
  color: #afb1b3;
  text-decoration: none;
}

.App-menu {
  display: block;
  position: absolute;
  top: 30px;
  left: 20px;
}

.App-title {
  /*color: #7c8993;*/
  color: #7f3762;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  margin-top: 10px;
}

.App-title h1 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  transform: translateX(20px);
}

.App-title-logo {
  display: inline-block;
  vertical-align: text-bottom;
  transform: translateX(20px);
}

.App-title a {
  /*color: #7c8993;*/
  color: #7f3762;
}

.App-view {
  min-height: calc(80vh - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
}

.App-login {
  position: absolute;
  top: 30px;  
  right: 10px;
  padding-top: 10px;
  margin-right: 20px;
  line-height: 0.3em;
  text-align: center;
}

.App-login p {
  color: #a0a0a086;
}

.App-footer {
  border-top: 1px #7c8993;
  background-color: rgba(255, 255, 255, 0.705);
  height: 50px;
  width: 100%;
  position: relative;
  bottom: 0;
}

.copyright{
  size: 0.8em;
  text-align: center;
}