.App {
  text-align: center;
}

.App-root {
  margin: 15px;
  color: #282c34;
}

.App-root a {
  color: #2e3138;
  text-decoration: none;
}


.bottom-nav{
  margin: auto;
	position: absolute;
  bottom: 0;
  width: calc(100vw - 20px);
}

a.MuiBottomNavigationAction-root{
  min-width: 50px;
}